<form>
    <ol>
        <li>
            <label for="z_comp_sel">Select Compendium:</label>
            <select name="z_comp_sel" id="z_comp_sel">
                <option value="no_selection">Nothing Selected.</option>
                {{#each compendiumList}}
                    <option value="{{this}}"
                    {{#if (comp_equal ../compendium)}}
                        selected
                    {{/if}}
                    >{{this}}</option>
                {{/each}}
            </select>
        </li>
        <li>
            <label for="z_scene_sel">Select Scene:</label>
            <select name="z_scene_sel" id="z_scene_sel>"
                {{#unless compendium}}
                    disabled
                {{/unless}}
            >
                <option value="no_selection">Nothing Selected.</option>
                {{#each sceneList}}
                    <option value="{{this}}">{{this}}</option>
                {{/each}}
            </select>
        </li>
    </ol>
</form>